<!DOCTYPE html>
<html>
    <head>
        <title>Tarea</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Curso/index">Curso</a></li>
                        <li><a href="/Materia/index">Materia</a></li>
                        <li><a href="/Estudiante/index">Estudiante</a></li>
                        <li><a href="/Profesor/index">Profesor</a></li>
                        <li><a href="/Tarea/index">Tarea</a></li>
                    </ul>
                    <form class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Usuario</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </form>
                </div>                
            </div>
        </div>
        <div class="container body-content">
            <h2>Lista de Tareas</h2>
            <div class="entry">
                <table class="table">
                    <tr class="odd">
                        <th>Profesor</th>
                        <th>Estudiante</th>
                        <th>Materia</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Nota</th>
                        <th>Estado</th>
                        <th>Fecha Creada</th>
                        <th>Fecha Fin</th>
                        <th></th>
                    </tr>
                    {{#each tareas}}
                        <tr>
                            <td>{{this.profesores}}</td>
                            <td>{{this.estudiantes}}</td>
                            <td>{{this.materias}}</td>
                            <td>{{this.nombreTarea}}</td>
                            <td>{{this.descripcionTarea}}</td>
                            <td>{{this.notaTarea}}</td>
                            <td>{{this.estadoTarea}}</td>
                            <td>{{this.fechaInicioTarea}}</td>
                            <td>{{this.fechaFinTarea}}</td>
                            <td><button class="btn btn-info" onclick="window.location.href='update/{{this.id}}'">Edit</button>
                            <form class="delete" method="POST" action="delete/{{this.id}}?method=delete"><button class="btn btn-danger" onclick="showNotification()">Delete</button></form></td>                        
                        </tr> 
                    {{/each}}
                </table>
                <br/>
                <button class="btn btn-primary" onclick="window.location.href='/Tarea/create'">Create</button>
                <button class="btn btn-warning" onclick="goBack()">Regresar</button>
                <button class="btn btn-dark" onclick="window.location.href='/index'">Inicio</button>
            </div>
        </div> 
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>    
</html>
