<!DOCTYPE html>
<html>
    <head>
        <title>Estudiante</title>
        <link rel="stylesheet" type="text/css" href="./css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="topMenu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Contactenos</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <h2>Lista de Estudiante</h2>
        <div class="entry">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
                {{#each estudiantes}}
                    <tr>   
                        <td>{{this.nombreEstudiante}}</td>
                        <td>{{this.apellidoEstudiante}}</td>
                        <td>{{this.direccionEstudiante}}</td>
                        <td>{{this.emailEstudiante}}</td>
                        <td>{{this.cursoId}}</td>
                        <td><button onclick="window.location.href='update/{{this.id}}'">Edit</button>
                        <form method="POST" action="delete/{{this.id}}?method=delete"><button class="delete">Delete</button></form></td>
                    </tr> 
                {{/each}}
            </table>
            <br/>
            <button onclick="window.location.href='/Producto/Create'">Create</button>
            <button onclick="goBack()">Regresar</button>

            <script>
            function goBack() {
                window.history.back();
            }
            </script>

            <button onclick="window.location.href='/index'">Inicio</button>
        </div>
    </body>
</html>
