<!DOCTYPE html>
<html>
    <head>
        <title>Profesor</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/page.css">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Curso/index">Curso</a></li>
                        <li><a href="/Materia/index">Materia</a></li>
                        <li><a href="/Estudiante/index">Estudiante</a></li>
                        <li><a href="/Profesor/index">Profesor</a></li>
                        <li><a href="/Tarea/index">Tarea</a></li>
                    </ul>
                    <form class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Usuario</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </form>
                </div>                
            </div>
        </div>
        <div class="container body-content">
            <h2>Lista de Profesores</h2>
            <div class="entry">
                <table class="table">
                    <tr class="odd">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Direccion</th>
                        <th>Email</th>
                        <th>Curso</th>
                        <th></th>
                    </tr>
                    {{#each profesores}}
                        <tr>   
                            <td>{{this.nombreProfesor}}</td>
                            <td>{{this.apellidoProfesor}}</td>
                            <td>{{this.direccionProfesor}}</td>
                            <td>{{this.emailProfesor}}</td>
                            <td>{{this.cursoId}}</td>
                            <td><button class="btn btn-info" onclick="window.location.href='update/{{this.id}}'">Edit</button>
                            <form class="delete" method="POST" action="delete/{{this.id}}?method=delete"><button class="btn btn-danger">Delete</button></form></td>
                        </tr> 
                    {{/each}} 
                    </tr>
                </table>
                <br/>
                <button class="btn btn-primary" onclick="window.location.href='/Profesor/Create'">Create</button>
                <button class="btn btn-warning" onclick="goBack()">Regresar</button>
                <button class="btn btn-dark" onclick="window.location.href='/index'">Inicio</button>
            </div>
            <footer>
                <br><p>Aula Virtual</p>
            </footer>  
        </div>
    </body>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</html>

