<h2>Lista de Profesores</h2>
<div class="entry">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Email</th>
            <th>Curso</th>
            <th></th>
        </tr>
        {{#each profesores}}
            <tr>   
                <td>{{this.nombreProfesor}}</td>
                <td>{{this.apellidoProfesor}}</td>
                <td>{{this.direccionProfesor}}</td>
                <td>{{this.EmailProfesor}}</td>
                 <td>{{this.cursoId}}</td>
                <td><button onclick="window.location.href='Usuario/Edit'">Edit</button>
                <button onclick="window.location.href='Usuario/Delete'">Delete</button></td>
            </tr> 
        {{/each}} 
        </tr>
    </table>
    <br/>
    <button onclick="window.location.href='/Producto/Create'">Create</button>
    <button onclick="goBack()">Regresar</button>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>

    <button onclick="window.location.href='/index'">Inicio</button>