<html>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Curso/index">Curso</a></li>
                    <li><a href="/Materia/index">Materia</a></li>
                    <li><a href="/Estudiante/index">Estudiante</a></li>
                    <li><a href="/Profesor/index">Profesor</a></li>
                    <li><a href="/Tarea/index">Tarea</a></li>
                </ul>
            <form class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/User/login">{{user}}</a></li>
                        <li><a href="/User/register">Registrar</a></li>
                    </ul>
                </form>
            </div>                
        </div>
    </div>
</body>
</html>

<!--<div class="form-group">
                        <label class="control-label col-md-2" >Profesor: </label>
                        <div class="col-md-10">                            
                            <select class="form-control" name="profesores">
                                {{#each profesores}}
                                    <option value="{{this.id}}">{{this.nombreProfesor}}</option>
                                {{/each}}
                            </select>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Estudiante: </label>
                        <div class="col-md-10">                            
                            <select class="form-control" name="estudiantes">
                                {{#each estudiantes}}
                                    <option value="{{this.id}}">{{this.nombreEstudiante}}</option>
                                {{/each}}
                            </select>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" >Materia: </label>
                        <div class="col-md-10">                            
                            <select class="form-control" name="materias">
                                {{#each materias}}
                                    <option value="{{this.id}}">{{this.nombreMateria}}</option>
                                {{/each}}
                            </select>                            
                        </div>
                    </div>-->